<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="formcss.css">
  <title>Drink/or not</title>
</head>
<body>
  <h1>Application for drink successful!   </h1>
    <h2>don't over do it! Or else...</h2>

  <p>Hello <%= @name.capitalize %>. Here's your drink.</p>

  <p><a href='/'>Try again. Try again</a></p>

</body>
</html>