<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="formcss.css">


  <title>Barman 2.0</title>
</head>
<body>
  <h1>Application for drink denied!</h1>

  <p>This bar isn't the place for you, <%= @name.capitalize %>. You're too young. Why not wait till you're old</p>

  <p><a href='/'>Try again.</a></p>
  
</body>
</html>